/* 05.14. Social Icons */
.top {
	.social-icons {
		&__link {
			display: inline-block;
			color: lighten(#72858a, 5);
			padding: ptr(12.5) 0;
			margin-right: ptr(5);

			&:last-of-type {
				margin-right: 0;
			}

			.fa {
				font-size: ptr(18);
			}

			&:focus,
			&:hover {
				color: $brand-primary;
			}
		}
	}
}
